* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

header {
  font-family: 'Work Sans', sans-serif; }

.logoNavbar {
  width: 7rem;
  margin-bottom: 0rem;
  margin-left: 3rem; }

#navbarNavAltMarkup {
  margin-bottom: 1.8rem; }

.navbar-brand {
  padding-top: 0.1rem;
  padding-bottom: 0;
  box-sizing: border-box; }

.navbar {
  padding-bottom: 0; }

.navbar-nav {
  width: 100%;
  justify-content: end;
  margin-right: 2rem; }

.nav-link p, .nav-link span {
  display: inline;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-position: auto;
  text-decoration-color: #ffbd4a;
  text-underline-offset: 3px; }

.bigText {
  font-size: 0.95rem;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0; }

.normalText {
  font-size: 0.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  display: inline-block; }

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav {
    margin-right: 1rem; }
  .bigText {
    font-size: 0.9rem; }
  .normalText {
    font-size: 0.75rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .logoNavbar {
    width: 6.8rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .logoNavbar {
    width: 6.5rem; } }

@media (min-width: 577px) and (max-width: 767px) {
  .logoNavbar {
    width: 5.8rem; } }

@media (max-width: 576px) {
  .logoNavbar {
    width: 5rem;
    margin-bottom: 0rem;
    margin-left: 1rem; } }

/* FUENTE INDICE (WORK SANS) - VERSALITAS
FUENTES TEXTOS INTERNOS (OPEN SANS) */
* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.titledetail {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  margin-top: 0.6rem; }

.explorar {
  color: #ff5c5c;
  display: inline-block; }

.explorar span {
  color: black; }

.disign span {
  color: black; }

.disign {
  color: #ffbd4a;
  display: inline-block; }

.accion {
  color: #a8a8a8;
  display: inline-block; }

.seccion1 {
  padding-bottom: 3rem; }

.seccion1__titulo {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  .seccion1__titulo span {
    font-size: 2.5rem;
    font-weight: 700;
    background-color: #ffbd4a; }

.titleBox {
  width: 27%;
  margin-left: 3rem; }

.firstPartTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.8rem;
  display: inline; }

.secondPartTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 3.8rem;
  display: inline; }

/* .gradientText {
	font-size: 2.5rem;
    background: linear-gradient(to right, black 20%, $amarilloMarca 80%, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	background-clip: text;
	color: transparent;
	font-weight: 600;
} */
.seccion1__imgEmprendedores {
  width: 12rem;
  margin-top: 2.5rem;
  margin-right: 4rem; }

.seccion1__imgProfesionales {
  width: 12rem;
  margin-top: 1rem; }

.seccion1__boxImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem; }

.btnWapp {
  margin-top: 2.5rem;
  margin-left: 3rem;
  display: block;
  width: 4rem; }

@media (max-width: 577px) {
  .seccion1__titulo {
    font-size: 1.9rem;
    padding-left: 0.8rem;
    padding-right: 1.3rem;
    margin-top: 0rem;
    line-height: 3rem; }
  .titledetail {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-left: 0.8rem; }
  .seccion1__imgEmprendedores {
    width: 11rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
    margin-right: 0rem; }
  .seccion1__imgProfesionales {
    width: 11rem;
    margin-top: 1rem;
    margin-left: 0.8rem; }
  .btnWapp {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 3.5rem; } }

@media (min-width: 578px) and (max-width: 767px) {
  .seccion1__boxIzquierdo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .titledetail {
    align-self: start;
    padding-left: 4rem; }
  .seccion1__titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    margin-top: 0.5rem;
    line-height: 3.3rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center; }
  .seccion1__boxImg {
    padding-left: 0;
    padding-right: 0; }
  .seccion1__img {
    width: 90%; }
  .seccion1__imgEmprendedores {
    width: 12rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0; }
  .seccion1__imgProfesionales {
    width: 12rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .titledetail {
    font-size: 0.75rem; }
  .seccion1__titulo {
    font-size: 2.3rem;
    margin-top: 0rem;
    line-height: 3.5rem;
    margin-bottom: 0rem; }
    .seccion1__titulo span {
      font-size: 2.3rem; }
  .seccion1__boxImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem; }
  .seccion1__img {
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .seccion1__boxImg {
    padding-left: 2rem;
    padding-right: 2rem; }
  .seccion1__titulo {
    margin-top: 1rem;
    line-height: 3.6rem;
    margin-top: 0rem;
    margin-bottom: 0rem; } }

/* $rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$amarilloMarca:#ffbd4a; */
* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.seccion2 {
  background-color: #ffbd4a;
  text-align: center;
  font-size: 1.4rem;
  padding: 7rem 11rem 5rem 11rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.05rem;
  line-height: 4rem; }
  .seccion2 span {
    font-size: 2rem;
    font-weight: 700; }

@media (max-width: 576px) {
  .seccion2 {
    padding: 2rem 1.2rem 1.7rem 1.2rem;
    line-height: 3rem;
    font-size: 1.1rem;
    /* text-align-last:left; */
    /* text-align:start; */ }
    .seccion2 span {
      font-size: 1.1rem; } }

@media (min-width: 577px) and (max-width: 767px) {
  .seccion2 {
    padding: 3rem 3rem 2.5rem 3rem;
    line-height: 3.3rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .seccion2 {
    padding: 3rem 4rem 2.5rem 4rem;
    line-height: 3.3rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .seccion2 {
    padding: 4rem 6rem 4rem 6rem;
    line-height: 3.3rem; } }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.seccion3 {
  margin-top: 3rem;
  margin-bottom: 5rem;
  /* padding-left: 2rem; */ }

.seccion3__titulo {
  /* background-color:$amarilloMarca; */
  max-width: 56rem;
  display: inline-block;
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  letter-spacing: 2px; }

.seccion3__emprendedores {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
  height: 9rem; }
  .seccion3__emprendedores p {
    font-size: 1.1rem; }

.seccion3__profesionales {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
  height: 9rem; }
  .seccion3__profesionales p {
    font-size: 1.1rem; }

.logoEmpProfSec3 {
  width: 12rem; }

.seccion3__boxAuxiliar {
  height: 3.2rem; }

.seccion3__boxTextoBtn {
  display: flex;
  flex-direction: row;
  padding-left: 4rem; }
  .seccion3__boxTextoBtn img {
    /* margin-top: 2rem; */
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 1rem;
    opacity: 0.68;
    /* transform: translateY(1px); */ }

.boxTextoBtn__texto {
  background-color: #545454;
  color: white;
  font-size: 1.06rem;
  margin-left: 0rem;
  min-height: 1.9rem;
  max-width: 90%; }

.boxTextoBtn2__texto {
  background-color: #a6a6a6;
  font-size: 1.06rem;
  margin-left: 0rem;
  min-height: 1.9rem;
  margin-right: 0.5rem; }

.linea__p1 {
  display: inline-block;
  /* line-height: 1.15rem; */
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-right: 0.3rem; }

.linea__p2 {
  display: inline-block;
  /* line-height: 1.15rem; */
  margin-bottom: 0rem; }

.dropdownEmp-Prof {
  width: 1.9rem;
  /* height: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* & img {
        margin-left: 0.5rem;
        width: 1.9rem;
        height: 1.9rem;
    } */ }

.seccion3__boxTextoBtn2 {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  padding-right: 0.5rem; }
  .seccion3__boxTextoBtn2 img {
    margin-top: 0rem;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    opacity: 0.45;
    /* transform: translateY(-3px); */ }

.subtituloCrear, .subtituloAterrizar {
  font-weight: 700; }

.subtituloRemodelar, .subtituloReinventar {
  font-weight: 700;
  color: #a6a6a6; }

#collapseExample .card {
  padding-left: 2rem;
  border: 0; }
  #collapseExample .card .subtituloCrear, #collapseExample .card .subtituloAterrizar {
    font-weight: 700; }

.seccion3__pie--texto1 {
  font-size: 1rem;
  text-align: center;
  margin-top: 2.5rem; }

.seccion3__pie--texto2 {
  font-weight: 700; }

.btnInfo {
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  padding: 0.15rem 0.5rem 0.15rem 0.3rem;
  display: inline-block;
  width: 6rem; }

a.btnInfo {
  text-decoration: none;
  color: black; }
  a.btnInfohover {
    color: black !important; }

.logoModal {
  display: block; }

.miModal .miModal__tituloA {
  margin-top: 3rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  display: inline-block; }

.miModal .miModal__tituloB {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 500;
  display: inline-block; }

/*
* el display table ajusta el background-color al contenido
*/
.miModal__p p {
  font-size: 1.2rem;
  color: white;
  background-color: #545454;
  line-height: 1.7rem;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  display: table; }
  .miModal__p p span {
    font-weight: 600; }

.miModal2__p p {
  font-size: 1.2rem;
  background-color: #a8a8a8;
  line-height: 1.7rem;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  display: table; }
  .miModal2__p p span {
    font-weight: 600; }

.modal-footer {
  justify-content: center; }

.card.card-body {
  padding-left: 4rem;
  padding-right: 3rem;
  border: none; }

.cardElement {
  height: 6rem; }

@media (max-width: 576px) {
  .seccion3 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem; }
  .seccion3__titulo {
    max-width: 58rem;
    margin-bottom: 3rem;
    font-size: 1.05rem; }
  .seccion3__emprendedores {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    height: 9rem; }
    .seccion3__emprendedores p {
      font-size: 1.1rem; }
  .seccion3__profesionales {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    height: 12rem; }
    .seccion3__profesionales p {
      font-size: 1.1rem; }
  .btnInfoEmprendedores {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .seccion3__boxTextoBtn img {
    width: 2.5rem;
    margin-left: 0.5rem; }
  .seccion3__pie--texto1 {
    font-size: 1.05rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .seccion3__boxTextoBtn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */ }
    .seccion3__boxTextoBtn img {
      margin-top: 0rem;
      width: 1.5rem;
      margin-left: 0.3rem;
      /* transform: translateY(3px); */ }
  .seccion3__boxTextoBtn2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */ }
    .seccion3__boxTextoBtn2 img {
      margin-top: 0rem;
      width: 1.5rem;
      margin-left: 0.3rem;
      /* transform: translateY(3px); */ }
  .btnInfo {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    border: none; }
  .miModal .miModal__titulo {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    font-size: 1.6rem; }
  .miModal .miModal__tituloA {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1.4rem; }
  .miModal .miModal__tituloB {
    font-size: 1.6rem;
    margin-top: 0rem;
    margin-bottom: 3rem; }
  .miModal__p p, .miModal2__p p {
    font-size: 0.55rem;
    display: block; }
  /* .miModal2__p p {
        font-size: 1.1rem;
        display: block;
    } */ }

@media (min-width: 577px) and (max-width: 767px) {
  .miModal .miModal__tituloA {
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 1.3rem; }
  .miModal .miModal__tituloB {
    font-size: 1.7rem;
    margin-top: 0rem;
    margin-bottom: 3.3rem; }
  .miModal__p p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px; }
  .miModal2__p p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .seccion3__emprendedores {
    padding-left: 2rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
    height: 10.5rem; }
    .seccion3__emprendedores p {
      font-size: 1rem; }
  .seccion3__profesionales {
    padding-left: 2rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
    height: 10.5rem; }
    .seccion3__profesionales p {
      font-size: 1rem; }
  .seccion3__pie--texto1 {
    padding-left: 4rem;
    padding-right: 4rem; }
  .seccion3__boxTextoBtn {
    padding-left: 2rem;
    width: 90%; }
  .seccion3__boxTextoBtn2 {
    padding-left: 2rem;
    width: 90%; }
  .btnInfo {
    margin-left: 2rem; }
  .card.card-body {
    padding-left: 2rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .seccion3__emprendedores {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    height: 9.3rem; }
    .seccion3__emprendedores p {
      font-size: 1.05rem; }
  .seccion3__profesionales {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    height: 9.3rem; }
    .seccion3__profesionales p {
      font-size: 1.05rem; }
  .seccion3__boxTextoBtn {
    padding-left: 2rem;
    width: 95%; }
  .seccion3__boxTextoBtn2 {
    padding-left: 2rem;
    width: 95%; }
  .btnInfo {
    margin-left: 2rem; }
  .card.card-body {
    padding-left: 2rem; } }
