* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

* {
  margin: 0;
  padding: 0; }

header {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Work Sans', sans-serif; }

.logoNavbar {
  width: 7.2rem;
  margin-bottom: 0rem;
  margin-left: 3rem; }

/* .tituloPrincipal {
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
} */
#navbarNavAltMarkup {
  margin-bottom: 1.8rem; }

.navbar-brand {
  padding-top: 0.1rem;
  padding-bottom: 0;
  box-sizing: border-box; }

.navbar {
  padding-bottom: 0; }

.navbar-nav {
  width: 100%;
  justify-content: end;
  margin-right: 2rem; }

/* .nav-link p,span{ */
.nav-link p, .nav-link span {
  /* border-bottom: 2px solid #ffbd4a; */
  /* transform: translateY(-2px); */
  display: inline;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-position: auto;
  text-decoration-color: #ffbd4a !important;
  text-underline-offset: 3px; }

.bigText {
  font-size: 0.95rem;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0; }

.normalText {
  font-size: 0.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  display: inline-block; }

/* @media (min-width:992px) and (max-width: 1200px){
    .navbar-nav {
        margin-right: 1rem;
    }
    .bigText {
        font-size: 0.9rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .normalText {
        font-size: 0.75rem;
        padding-bottom: 0;
        margin-bottom: 0;
        display: inline-block;
    }
    
} */
@media (max-width: 576px) {
  .logoNavbar {
    width: 5rem;
    margin-bottom: 0rem;
    margin-left: 1rem; } }

/* FUENTE INDICE (WORK SANS) - VERSALITAS
FUENTES TEXTOS INTERNOS (OPEN SANS) */
/* $rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$amarilloMarca:#ffbd4a; */
* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.titledetail {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  margin-top: 0.6rem; }

.explorar {
  color: #ff5c5c;
  display: inline-block; }

.explorar span {
  color: black; }

.disign span {
  color: black; }

.disign {
  color: #ffbd4a;
  display: inline-block; }

.accion {
  color: #a8a8a8;
  display: inline-block; }

.seccion1 {
  padding-bottom: 3rem; }

.seccion1__titulo {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.8rem; }
  .seccion1__titulo span {
    font-size: 2.5rem;
    font-weight: 700;
    background-color: #ffbd4a; }

.seccion1__titulo2 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo2 span {
    font-size: 2.8rem;
    font-weight: 700; }

.seccion1__titulo3 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo3 span {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
    /* text-decoration-style:dashed; */
    text-decoration-style: double;
    text-decoration-thickness: 2px;
    text-decoration-color: #ffbd4a; }

.seccion1__titulo3_1 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo3_1 span {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px; }

.seccion1__titulo3_2 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo3_2 span {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px; }

.seccion1__titulo4 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo4 span {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 0px #ffbd4a, -1px 1px 0px #ffbd4a, 1px -1px 0px #ffbd4a, -1px -1px 0px #ffbd4a; }

/* .seccion1__titulo4 {
    width: 27%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem 0rem 0rem 4rem;
    line-height: 3.8rem;
    &  span {
        font-size: 2.5rem;
        font-weight: 700;
        text-shadow: 2px 2px 0px $amarilloMarca;
    }
}  */
.seccion1__titulo5 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0rem 0rem 4rem;
  line-height: 3.8rem; }
  .seccion1__titulo5 span {
    font-size: 2.5rem;
    font-weight: 700;
    background-color: #ffbd4a;
    line-height: 2.6rem !important; }

.seccion1__titulo6 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.8rem; }
  .seccion1__titulo6 span {
    font-size: 2.5rem;
    font-weight: 700;
    /* text-shadow:3px -1px 0px $rojoMarca,6px -2px 0px $amarilloMarca, 9px -3px 0px $gris1Marca; */
    text-shadow: 6px -2px 0px #a8a8a8; }

.seccion1__titulo7 {
  width: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.8rem; }
  .seccion1__titulo7 span {
    font-size: 2.5rem;
    font-weight: 700;
    /* background: linear-gradient(to bottom, black 55%, $amarilloMarca 80%); */
    background: linear-gradient(to bottom, black 50%, #ffbd4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; }

.titleBox {
  width: 27%;
  margin-left: 3rem; }

.firstPartTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.8rem;
  display: inline; }

.secondPartTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 3.8rem;
  display: inline; }

.gradientText {
  font-size: 2.5rem;
  /* background: linear-gradient(to bottom right, black, grey); */
  /* background: linear-gradient(to bottom, black 65%, $amarilloMarca 100%); */
  background: linear-gradient(to right, black 20%, #ffbd4a 80%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  /* text-shadow: gray 2px 2px 0; */ }

.recuadroEmprendedores {
  border-radius: 0.7rem;
  background-color: #545454;
  width: 14rem;
  padding: 0.3rem 0.4rem 0.3rem 0.5rem;
  /* transform: translateX(3rem); */ }

.recuadroProfesionales {
  border-radius: 0.7rem;
  background-color: #cdcbcb;
  width: 14rem;
  padding: 0.3rem 0.4rem 0.3rem 0.5rem;
  /* transform: translateX(3rem); */ }

/***** Logo emprendedores y profesionales *****/
.circuloE {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff5c5c; }

.circuloD {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbd4a;
  margin-left: 0.15rem;
  margin-right: 0.15rem; }

.circuloA {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8a8a8; }

.textoCirculo {
  font-size: 1.1rem;
  line-height: 2.1rem;
  margin-bottom: 0;
  margin-top: 0;
  transform: translate(0px, -1px); }

.tituloEmprendedores {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: white;
  padding-top: 1/16rem;
  margin-bottom: 0; }

.tituloProfesionales {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding-top: 0.1rem;
  margin-bottom: 0; }

/* FIN Logo*/
.seccion1__imgEmprendedores {
  width: 12rem;
  margin-top: 2.5rem;
  margin-right: 4rem; }

.seccion1__imgProfesionales {
  width: 12rem;
  margin-top: 1rem; }

.seccion1__boxImg {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/* .seccion1__img {
    max-width: 100%;
    height: auto;
    //min-width: 32rem;
    
} */
/* .seccion1__boxLista {
    background-color: #a8a8a8;
    opacity: 0.65;
    width: 17rem;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    z-index: 1;
    position: absolute; right: 1.7rem; bottom: 1.5rem;
} */
/* .seccion1__lista {
    text-decoration: dotted;
    margin-bottom: 0;
    padding-left: 1rem;
}
.seccion1__lista li {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    font-weight: 600;
    color: black;
} */
.btnWapp {
  margin-top: 2.5rem;
  margin-left: 3rem;
  display: block;
  width: 4rem; }

@media (max-width: 577px) {
  .seccion1__titulo {
    font-size: 1.9rem;
    padding-left: 0.8rem;
    padding-right: 1.3rem;
    margin-top: 0rem;
    line-height: 3rem; }
  .titledetail {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-left: 0.8rem; }
  .seccion1__imgEmprendedores {
    width: 11rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
    margin-right: 0rem; }
  .seccion1__imgProfesionales {
    width: 11rem;
    margin-top: 1rem;
    margin-left: 0.8rem; }
  .btnWapp {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 3.5rem; } }

@media (min-width: 578px) and (max-width: 767px) {
  .seccion1__boxIzquierdo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .titledetail {
    align-self: start;
    padding-left: 4rem; }
  .seccion1__titulo {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 2.2rem;
    margin-top: 0.5rem;
    line-height: 3.3rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center; }
  .seccion1__boxImg {
    /*  position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem; */
    padding-left: 0;
    padding-right: 0; }
  .seccion1__img {
    width: 90%; }
  /* .seccion1__boxLista {
        position: static;
        display: flex;
    } */
  .seccion1__imgEmprendedores {
    width: 12rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    /* margin-left: 15%;
        margin-right: auto;
        display: inline-block; */ }
  .seccion1__imgProfesionales {
    width: 12rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .seccion1__img {
    padding-left: 0;
    padding-right: 0; } }

/* $rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$amarilloMarca:#ffbd4a; */
* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.seccion2 {
  background-color: #ffbd4a;
  text-align: center;
  font-size: 1.4rem;
  padding: 7rem 11rem 5rem 11rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.05rem;
  line-height: 4rem; }
  .seccion2 span {
    font-size: 2rem;
    font-weight: 700; }

@media (max-width: 576px) {
  .seccion2 {
    padding: 2rem 1.2rem 1.7rem 1.2rem;
    line-height: 3rem;
    font-size: 1.1rem;
    /* text-align-last:left; */
    /* text-align:start; */ }
    .seccion2 span {
      font-size: 1.1rem; } }

@media (min-width: 577px) and (max-width: 767px) {
  .seccion2 {
    padding: 3rem 3rem 2.5rem 3rem;
    line-height: 3.3rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .seccion2 {
    padding: 3rem 4rem 2.5rem 4rem;
    line-height: 3.3rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .seccion2 {
    padding: 4rem 6rem 4rem 6rem;
    line-height: 3.3rem; } }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 4.65rem;
  font-family: 'Work Sans', sans-serif; }

@media (max-width: 576px) {
  body {
    padding-top: 3.5rem; } }

.seccion3 {
  margin-top: 3rem;
  margin-bottom: 5rem;
  /* padding-left: 2rem; */ }

.seccion3__titulo {
  /* background-color:$amarilloMarca; */
  max-width: 56rem;
  display: inline-block;
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  letter-spacing: 2px; }

.seccion3__emprendedores {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
  height: 9rem; }
  .seccion3__emprendedores p {
    font-size: 1.1rem; }

.seccion3__profesionales {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
  height: 9rem; }
  .seccion3__profesionales p {
    font-size: 1.1rem; }

.logoEmpProfSec3 {
  width: 12rem; }

.seccion3__boxTextoBtn {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  /* & h4 {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-top: 2rem;
        font-size: 1.06rem;
        line-height: 1.4rem;
        color: white;
        background-color: $grisFondo;
        font-weight: 600;
        
    } */ }
  .seccion3__boxTextoBtn img {
    /* margin-top: 2rem; */
    width: 1.5rem;
    margin-left: 1rem;
    opacity: 0.68;
    /* transform: translateY(1px); */ }

.boxTextoBtn__texto {
  background-color: #545454;
  color: white;
  font-size: 1.06rem;
  margin-left: 0rem; }

.boxTextoBtn2__texto {
  background-color: #a6a6a6;
  font-size: 1.06rem;
  margin-left: 0rem; }

.linea__p1 {
  display: inline-block;
  line-height: 1.15rem !important;
  margin-bottom: 0rem;
  margin-top: 0rem; }

.linea__p2 {
  display: inline-block;
  line-height: 1.15rem;
  margin-bottom: 0rem; }

.dropdownEmp-Prof {
  height: auto;
  margin-top: auto;
  margin-bottom: auto; }

.seccion3__boxTextoBtn2 {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  /* & h4 {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        // margin-top: 2rem;
        // margin-bottom: 0.1rem;
        font-size: 1.15rem;
        background-color: $gris2Marca;
        font-weight: 600;
    } */ }
  .seccion3__boxTextoBtn2 img {
    margin-top: 0rem;
    width: 1.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    opacity: 0.45;
    transform: translateY(-3px); }

.subtituloCrear, .subtituloAterrizar {
  font-weight: 700; }

.subtituloRemodelar, .subtituloReinventar {
  font-weight: 700;
  color: #a6a6a6; }

#collapseExample .card {
  padding-left: 2rem;
  border: 0; }
  #collapseExample .card .subtituloCrear, #collapseExample .card .subtituloAterrizar {
    font-weight: 700; }

.seccion3__pie--texto1 {
  font-size: 1rem;
  /* padding-left: 17rem;
    padding-right: 17rem; */
  text-align: center;
  margin-top: 2.5rem; }

.seccion3__pie--texto2 {
  font-weight: 700; }

/* .seccion3__pie--texto2 {
    font-size: 1.2rem;
}
.seccion3__pie--texto3 {
    font-weight: 700;
}
.seccion3__pie--texto4 {
    font-size: 1.2rem;
} */
.btnInfo {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  padding: 0.15rem 0.5rem 0.15rem 0.3rem;
  /* border: 1px solid black; */
  display: inline-block;
  width: 6rem; }

a.btnInfo {
  text-decoration: none;
  color: black; }
  a.btnInfohover {
    color: black !important; }

/* .miModal {
    display: flex;
    flex-direction: column;
} */
/* .miModal .miModal__titulo{
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    font-size: 2rem;
    font-weight: 800;
    & span {
        font-weight: 500;
    }
} */
.logoModal {
  display: block; }

.miModal .miModal__tituloA {
  margin-top: 3rem;
  margin-right: 0.5rem;
  /* margin-bottom: 4.5rem; */
  font-size: 2rem;
  font-weight: 800;
  display: inline-block; }

.miModal .miModal__tituloB {
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 500;
  display: inline-block; }

.miModal__p p {
  font-size: 1.2rem;
  color: white;
  background-color: #545454;
  line-height: 1.7rem;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  display: table; }
  .miModal__p p span {
    font-weight: 600; }

.miModal2__p p {
  font-size: 1.2rem;
  background-color: #a8a8a8;
  line-height: 1.7rem;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  display: table; }
  .miModal2__p p span {
    font-weight: 600; }

.modal-footer {
  justify-content: center; }

.card.card-body {
  padding-left: 4rem;
  padding-right: 3rem;
  border: none; }

/* .miModal__p span {
    font-weight: 600;
} */
@media (max-width: 576px) {
  .seccion3 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem; }
  .seccion3__titulo {
    max-width: 58rem;
    margin-bottom: 3rem;
    font-size: 1.05rem; }
  .seccion3__emprendedores {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    height: 9rem; }
    .seccion3__emprendedores p {
      font-size: 1.1rem; }
  .seccion3__profesionales {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    height: 12rem; }
    .seccion3__profesionales p {
      font-size: 1.1rem; }
  .btnInfoEmprendedores {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .seccion3__boxTextoBtn img {
    width: 2.5rem;
    margin-left: 0.5rem; }
  .seccion3__pie--texto1 {
    font-size: 1.05rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .seccion3__boxTextoBtn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */ }
    .seccion3__boxTextoBtn img {
      margin-top: 0rem;
      width: 1.5rem;
      margin-left: 0.3rem;
      /* transform: translateY(3px); */ }
  .seccion3__boxTextoBtn2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */ }
    .seccion3__boxTextoBtn2 img {
      margin-top: 0rem;
      width: 1.5rem;
      margin-left: 0.3rem;
      /* transform: translateY(3px); */ }
  .btnInfo {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    border: none; }
  .miModal .miModal__titulo {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    font-size: 1.6rem; }
  .miModal .miModal__tituloA {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1.4rem; }
  .miModal .miModal__tituloB {
    font-size: 1.6rem;
    margin-top: 0rem;
    margin-bottom: 3rem; }
  .miModal__p p, .miModal2__p p {
    font-size: 0.55rem;
    display: block; }
  /* .miModal2__p p {
        font-size: 1.1rem;
        display: block;
    } */ }

@media (min-width: 577px) and (max-width: 767px) {
  .miModal .miModal__tituloA {
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 1.3rem; }
  .miModal .miModal__tituloB {
    font-size: 1.7rem;
    margin-top: 0rem;
    margin-bottom: 3.3rem; }
  .miModal__p p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px; }
  .miModal2__p p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .seccion3__emprendedores {
    padding-left: 2rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
    height: 10.5rem; }
    .seccion3__emprendedores p {
      font-size: 1rem; }
  .seccion3__profesionales {
    padding-left: 2rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
    height: 10.5rem; }
    .seccion3__profesionales p {
      font-size: 1rem; }
  .seccion3__pie--texto1 {
    padding-left: 4rem;
    padding-right: 4rem; }
  .seccion3__boxTextoBtn {
    padding-left: 2rem; }
  .seccion3__boxTextoBtn2 {
    padding-left: 2rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .seccion3__emprendedores {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    height: 9.3rem; }
    .seccion3__emprendedores p {
      font-size: 1.05rem; }
  .seccion3__profesionales {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    height: 9.3rem; }
    .seccion3__profesionales p {
      font-size: 1.05rem; }
  .seccion3__boxTextoBtn {
    padding-left: 2rem; }
  .seccion3__boxTextoBtn2 {
    padding-left: 2rem; }
  .btnInfo {
    margin-left: 2rem; } }
