* {
  margin: 0;
  padding: 0; }

header {
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif; }

.logoNavbar {
  width: 10rem;
  margin-bottom: 0rem;
  margin-left: 3rem; }

/* .tituloPrincipal {
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
} */
#navbarNavAltMarkup {
  margin-bottom: 3rem; }

.navbar {
  padding-bottom: 0; }

.navbar-nav {
  width: 100%;
  justify-content: end;
  margin-right: 2rem; }

/* .nav-link p,span{ */
.nav-link p, .nav-link span {
  /* border-bottom: 2px solid #ffbd4a; */
  /* transform: translateY(-2px); */
  display: inline;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-position: auto;
  text-decoration-color: #ffbd4a !important;
  text-underline-offset: 3px; }

.bigText {
  font-size: 1.25rem;
  /* display: inline; */
  /* line-height: 1.6rem; */
  /* border-bottom: 3px solid black;
    border-right: transparent; */
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
  /* text-decoration: underline;
    text-decoration-color: #ffbd4a; */ }

.normalText {
  font-size: 0.95rem;
  /* border-bottom: 2px solid black;
    border-spacing: 0; */
  /* line-height: 1.3rem; */
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  display: inline-block;
  /* text-decoration: underline;
    text-decoration-color: #ffbd4a; */ }

.circuloE {
  background-color: #ff5c5c;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.textoCirculo {
  font-size: 1.3rem;
  line-height: 2.1rem;
  margin-bottom: 0;
  margin-top: 0;
  transform: translate(0px, -1px); }

.tituloEmprendedores {
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  color: white;
  margin-bottom: 0;
  padding-top: 0.1rem; }

.recuadroEmprendedores {
  border-radius: 0.8rem;
  background-color: black;
  width: 16rem;
  padding: 0.4rem; }

/* FUENTE INDICE (WORK SANS) - VERSALITAS
FUENTES TEXTOS INTERNOS (OPEN SANS) */
.explorar {
  color: #ff5c5c;
  display: inline-block; }

.explorar span {
  color: black; }

.disign span {
  color: black; }

.disign {
  color: #ffbd4a;
  display: inline-block; }

.accion {
  color: #a8a8a8;
  display: inline-block; }

.seccion1__titulo {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 3.4rem; }
  .seccion1__titulo span {
    font-weight: 800; }

.seccion1__imgEmprendedores {
  width: 14rem;
  margin-top: 2.5rem; }

.seccion1__imgProfesionales {
  width: 14rem;
  margin-top: 1rem; }

.seccion1__boxImg {
  position: relative; }

.seccion1__img {
  width: 87%;
  z-index: -1; }

.seccion1__boxLista {
  background-color: #a8a8a8;
  opacity: 0.65;
  width: 17rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  z-index: 1;
  position: absolute;
  right: 1.7rem;
  bottom: 0rem; }

.seccion1__lista {
  text-decoration: dotted;
  margin-bottom: 0;
  padding-left: 1rem; }

.seccion1__lista li {
  padding-left: 0.5rem;
  font-weight: 600;
  color: black; }
