$rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$grisFondo:#545454;
$amarilloMarca:#ffbd4a; 
$WorkSans: 'Work Sans', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Monserrat: 'Montserrat', sans-serif;


*{
    margin:0;
    padding: 0;
}
body {
    padding-top: 4.65rem;
    font-family: 'Work Sans', sans-serif;
}
@media (max-width:576px) {
    body {
        padding-top: 3.5rem;
    }
}

