@import "generales";
header {
    font-family: 'Work Sans', sans-serif;
}
.logoNavbar {
    width: 7rem;
    margin-bottom: 0rem;
    margin-left: 3rem;
}

#navbarNavAltMarkup {
    margin-bottom: 1.8rem;
}
.navbar-brand {
    padding-top: 0.1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}
.navbar {
    padding-bottom: 0;
}
.navbar-nav {
    width: 100%;
    justify-content: end;
    margin-right: 2rem;
}
.nav-link p,  .nav-link span{   
    display: inline;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-position: auto;
    text-decoration-color: $amarilloMarca;
    text-underline-offset: 3px;
}
.bigText {
    font-size: 0.95rem;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}
.normalText {
    font-size: 0.8rem;
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
    display: inline-block;
}
@media (min-width:992px) and (max-width: 1200px){
    .navbar-nav {
        margin-right: 1rem;
    }
    .bigText {
        font-size: 0.9rem;
    }
    .normalText {
        font-size: 0.75rem;
    }
    
}
@media (min-width:992px) and (max-width: 1199px){
    .logoNavbar {
        width: 6.8rem;
    }
}
@media (min-width:768px) and (max-width: 991px){
    .logoNavbar {
        width: 6.5rem;
    }
}
@media (min-width:577px) and (max-width: 767px){
    .logoNavbar {
        width: 5.8rem;
    }
}
@media (max-width:576px) {
    .logoNavbar {
        width: 5rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
    }
}








/* FUENTE INDICE (WORK SANS) - VERSALITAS
FUENTES TEXTOS INTERNOS (OPEN SANS) */
