*{
    margin:0;
    padding: 0;
}
header {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}
.logoNavbar {
    width: 7.2rem;
    margin-bottom: 0rem;
    margin-left: 3rem;
}
/* .tituloPrincipal {
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
} */

#navbarNavAltMarkup {
    margin-bottom: 1.8rem;
}
.navbar-brand {
    padding-top: 0.1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}
.navbar {
    padding-bottom: 0;
}
.navbar-nav {
    width: 100%;
    justify-content: end;
    margin-right: 2rem;
}
/* .nav-link p,span{ */
.nav-link p,  .nav-link span{   
    /* border-bottom: 2px solid #ffbd4a; */
    /* transform: translateY(-2px); */
    display: inline;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-position: auto;
    text-decoration-color: #ffbd4a !important;
    text-underline-offset: 3px;
}

.bigText {
    font-size: 0.95rem;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;

}
.normalText {
    font-size: 0.8rem;
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
    display: inline-block;
}


/* @media (min-width:992px) and (max-width: 1200px){
    .navbar-nav {
        margin-right: 1rem;
    }
    .bigText {
        font-size: 0.9rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .normalText {
        font-size: 0.75rem;
        padding-bottom: 0;
        margin-bottom: 0;
        display: inline-block;
    }
    
} */
@media (max-width:576px) {
    .logoNavbar {
        width: 5rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
    }
}








/* FUENTE INDICE (WORK SANS) - VERSALITAS
FUENTES TEXTOS INTERNOS (OPEN SANS) */
