@import "generales";

.seccion3 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
}
.seccion3__titulo {
    background-color:$amarilloMarca;
    width: 31rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
}
.secction3__emprendedores {
    & p {
        font-size: 1.3rem;
    }
}
.seccion3__boxTextoBtn {
    display: flex;
    flex-direction: row;
    & p {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        font-size: 1.3rem;
        color: white;
        background-color: black;
        font-weight: 600;
    }
    & img {
        width: 2rem;
        margin-left: 1rem;
    }
}
.seccion3__pie--texto1 {
    font-size: 1.05rem;
    padding-left: 17rem;
    padding-right: 17rem;
    text-align: center;
}
.seccion3__pie--texto2 {
    font-size: 1.3rem;
}
.seccion3__pie--texto3 {
    font-weight: 700;
}
.seccion3__pie--texto4 {
    font-size: 1.3rem;
}
.btnInfoEmprendedores {
    padding: 0.15rem 0.5rem 0.15rem 0.3rem;
    border: 1px solid black;
    width: 6rem;
}