@import "generales";

.seccion3 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    /* padding-left: 2rem; */
}
.seccion3__titulo {
    /* background-color:$amarilloMarca; */
    max-width: 56rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    letter-spacing: 2px;
}
.seccion3__emprendedores {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    height: 9rem;
    & p {
        font-size: 1.1rem;
    }
}
.seccion3__profesionales {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    height: 9rem;
    & p {
        font-size: 1.1rem;
    }
}
.logoEmpProfSec3 {
    width: 12rem;
}
.seccion3__boxTextoBtn {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    /* & h4 {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-top: 2rem;
        font-size: 1.06rem;
        line-height: 1.4rem;
        color: white;
        background-color: $grisFondo;
        font-weight: 600;
        
    } */
    & img {
        /* margin-top: 2rem; */
        width: 1.5rem;
        margin-left: 1rem;
        opacity: 0.68;
        /* transform: translateY(1px); */
    }
}


.boxTextoBtn__texto {
    background-color: $grisFondo;
    color: white;
    font-size: 1.06rem;
    margin-left: 0rem;
    // margin-top: 2rem; 
    // width: 50%; 
}
.boxTextoBtn2__texto {
    background-color: $gris2Marca;
    font-size: 1.06rem;
    margin-left: 0rem;
    // margin-top: 2rem; 
    // width: 50%; 
}
.linea__p1{
    display: inline-block;
    line-height: 1.15rem !important;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.linea__p2 {
    display: inline-block;
    line-height: 1.15rem;
    margin-bottom: 0rem;
}
.dropdownEmp-Prof {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
} 

.seccion3__boxTextoBtn2 {
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    /* & h4 {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        // margin-top: 2rem;
        // margin-bottom: 0.1rem;
        font-size: 1.15rem;
        background-color: $gris2Marca;
        font-weight: 600;
    } */
    & img {
        margin-top: 0rem;
        width: 1.5rem;
        margin-left: 1rem;
        margin-right: 1.5rem; //nuevo
        opacity: 0.45;
        transform: translateY(-3px);
    }
}
.subtituloCrear, .subtituloAterrizar {
    font-weight: 700;
}
.subtituloRemodelar, .subtituloReinventar {
    font-weight: 700;
    color: $gris2Marca;
}
#collapseExample .card {
    padding-left: 2rem;
    border: 0;
    & .subtituloCrear,.subtituloAterrizar {
        font-weight: 700;
    }
}
.seccion3__pie--texto1 {
    font-size: 1rem;
    /* padding-left: 17rem;
    padding-right: 17rem; */
    text-align: center;
    margin-top: 2.5rem;
}
.seccion3__pie--texto2 {
    font-weight: 700;
}
/* .seccion3__pie--texto2 {
    font-size: 1.2rem;
}
.seccion3__pie--texto3 {
    font-weight: 700;
}
.seccion3__pie--texto4 {
    font-size: 1.2rem;
} */
.btnInfo {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    padding: 0.15rem 0.5rem 0.15rem 0.3rem;
    /* border: 1px solid black; */
    display: inline-block;
    width: 6rem;
} 
a.btnInfo {
    text-decoration: none;
    color: black;
    &hover{
        color: black !important;
    }
} 
/* .miModal {
    display: flex;
    flex-direction: column;
} */
/* .miModal .miModal__titulo{
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    font-size: 2rem;
    font-weight: 800;
    & span {
        font-weight: 500;
    }
} */
.logoModal {
    display: block;
}
.miModal .miModal__tituloA {
    margin-top: 3rem;
    margin-right: 0.5rem;
    /* margin-bottom: 4.5rem; */
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
}
.miModal .miModal__tituloB{
    /* margin-top: 3rem; */
    
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

// el display table ajusta el background-color al contenido
.miModal__p p{
    font-size: 1.2rem;
    color: white;
    background-color: $grisFondo;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    display: table;
    & span {
        font-weight: 600;
    }
}
.miModal2__p p{
    font-size: 1.2rem;
    background-color: $gris1Marca;
    line-height: 1.7rem;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    display: table;
    & span {
        font-weight: 600;
    }
}
.modal-footer {
    justify-content: center;
}
.card.card-body {
    padding-left: 4rem;
    padding-right: 3rem;
    border: none;
}

/* .miModal__p span {
    font-weight: 600;
} */


@media (max-width:576px){
    .seccion3 {
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .seccion3__titulo {
        max-width: 58rem;
        margin-bottom: 3rem;
        font-size: 1.05rem;
    }
    .seccion3__emprendedores {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        height: 9rem;
        & p {
            font-size: 1.1rem;
        }
    }
    .seccion3__profesionales {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        height: 12rem;
        & p {
            font-size: 1.1rem;
        }
    }
    .btnInfoEmprendedores {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .seccion3__boxTextoBtn {
        
        & img {
            width: 2.5rem;
            margin-left: 0.5rem;
        }
    }
    .seccion3__pie--texto1 {
        font-size: 1.05rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .seccion3__boxTextoBtn {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */
        & img {
            margin-top: 0rem;
            width: 1.5rem;
            margin-left: 0.3rem;
            /* transform: translateY(3px); */
        }
    }
    .seccion3__boxTextoBtn2 {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        /* & h4 {
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
            font-size: 1.06rem;
        } */
        & img {
            margin-top: 0rem;
            width: 1.5rem;
            margin-left: 0.3rem;
            /* transform: translateY(3px); */
        }
    }
    .btnInfo {
        font-size: 0.85rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        margin-left: 0.8rem;
        border: none;
    } 
    .miModal .miModal__titulo{
        margin-top: 3rem;
        margin-bottom: 4.5rem;
        font-size: 1.6rem;
    }
    .miModal .miModal__tituloA{
        font-size: 1.6rem;
        margin-top: 3rem;
        margin-bottom: 1.4rem;
    }
    .miModal .miModal__tituloB{
        font-size: 1.6rem;
        margin-top: 0rem;
        margin-bottom: 3rem; 
    }
    .miModal__p p, .miModal2__p p {
        font-size: 0.55rem;
        display: block;
    }
    /* .miModal2__p p {
        font-size: 1.1rem;
        display: block;
    } */
}
@media (min-width:577px) and (max-width: 767px){
    .miModal .miModal__tituloA{
        font-size: 1.7rem;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }
    .miModal .miModal__tituloB{
        font-size: 1.7rem;
        margin-top: 0rem;
        margin-bottom: 3.3rem; 
    }
    .miModal__p p{
        font-size: 1.1rem;
        line-height: 1.7rem;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;

    }
    .miModal2__p p{
        font-size: 1.1rem;
        line-height: 1.7rem;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;


    }
}
@media (min-width:768px) and (max-width: 991px){
    .seccion3__emprendedores {
        padding-left: 2rem;
        padding-right: 1.3rem;
        margin-bottom: 2rem;
        height: 10.5rem;
        & p {
            font-size: 1rem;
        }
    }
    .seccion3__profesionales {
        padding-left: 2rem;
        padding-right: 1.3rem;
        margin-bottom: 2rem;
        height: 10.5rem;
        & p {
            font-size: 1rem;
        }
    }
    .seccion3__pie--texto1 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .seccion3__boxTextoBtn {
        padding-left: 2rem;
    }
    .seccion3__boxTextoBtn2 {
        padding-left: 2rem;
    }
}
@media (min-width:992px) and (max-width: 1199px){
    .seccion3__emprendedores {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        height: 9.3rem;
        & p {
            font-size: 1.05rem;
        }
    }
    .seccion3__profesionales {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        height: 9.3rem;
        & p {
            font-size: 1.05rem;
        }
    }
    .seccion3__boxTextoBtn {
        padding-left: 2rem;
    }
    .seccion3__boxTextoBtn2 {
        padding-left: 2rem;
    }
    .btnInfo {
        margin-left: 2rem;
    } 
}