.seccion5 {
    min-height: 100vh;
    height: fit-content;
    padding-top: 15vh;

    .tituloEDA {
        display: flex;
        flex-direction: column;
        padding-left: 10vw;

        h2 {
            font-weight: 800;
            font-family: $WorkSans;
            font-size: 32px;
        }

        p {
            font-weight: 700;
            font-family: $WorkSans;
            font-size: 20px;

            .rojo {
                color: #ff5c5c;

            }

            .amarillo {
                color: #ffbd4a;
            }

            .gris {
                color: #a8a8a8;
            }
        }
    }

    .contenido {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        margin-top: 5vh;

        .metodoEDA {
            width: 40vw;

            img {
                height: auto;
                width: 98%;
                margin-left: 3vw;
            }
        }

        .textoEDA {
            top: 30vh;
            right: 0;
            width: 50vw;

            p {
                font-family: $OpenSans;
                line-height: 3rem;
                font-size: 18px;
                color: rgb(66, 66, 66);
                padding-right: 5vw;
                padding-left: 2vw;
            }
        }
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .seccion5 {
        display: flex;
        flex-direction: column;

        .tituloEDA {
            p {
                font-size: 1rem;
            }
        }

        .contenido {
            margin-top: 5vh;

            .metodoEDA {
                img {
                    height: auto;
                    width: 98%;
                }
            }

            .textoEDA {
                margin-top: 3vh;
                width: 50vw;

                p {
                    font-family: $OpenSans;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    line-height: 2rem;
                    font-size: 18px;
                    color: rgb(66, 66, 66);
                }
            }
        }
    }
}

@media (min-width:578px) and (max-width: 767px) {
    .seccion5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;

        .tituloEDA {
            padding-left: unset;
            h2 {
                margin-bottom: unset;
            }

            p {
                font-size: 1rem;
            }
        }

        .contenido {
            flex-direction: column;
            .metodoEDA {
                position: unset;
                width: 60vw;
                img {
                    height: auto;
                    width: 98%;
                    margin-left: unset;
                }
            }

            .textoEDA {
                position: unset;
                margin-top: 3vh;
                width: 90vw;

                p {
                    font-family: $OpenSans;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    line-height: 2rem;
                    font-size: 0.95rem;
                    color: rgb(66, 66, 66);
                }
            }
        }
    }
}

@media (max-width:577px) {
    .seccion5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;

        .tituloEDA {
            padding-left: unset;
            h2 {
                margin-bottom: unset;
            }

            p {
                font-size: 1rem;
            }
        }

        .contenido {
            flex-direction: column;
            .metodoEDA {
                position: unset;
                width: 60vw;
                img {
                    height: auto;
                    width: 98%;
                    margin-left: unset;
                }
            }

            .textoEDA {
                position: unset;
                margin-top: 3vh;
                width: 90vw;

                p {
                    font-family: $OpenSans;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    line-height: 2rem;
                    font-size: 0.95rem;
                    color: rgb(66, 66, 66);
                }
            }
        }
    }
}