.resaltado1 {
    background-color: #545454;
    color: white;
}
.resaltado2{
    background-color: #d9d9d9;
}
.resaltado3{
    background-color: #ffbd4a;
}
.negrita{
    font-weight: 700;
}
.seccion4 {
    min-height: 100vh;
    height: fit-content;
    background-color: #ffbd4a;
    display: flex;

    div {
        width: 75vw;
        margin-top: 6rem;
        margin-bottom: 0.625rem;
        padding-bottom: 1.125rem;
        padding-right: 2.5rem;
        padding-left: 2rem;
        h3{
            font-weight: 700;
            font-family: $WorkSans;
        }

        p {
            font-family: $OpenSans;
            font-size: 1rem;
            line-height: 1.9rem;
            padding: 0 0.625rem 0 0;
        }
    }

    .imgCecilia {
        margin-top: 6.125rem;
        margin-left: 2rem;
        border-radius: 50%;
        height: 40vh;
    }
}

@media (min-width:768px) and (max-width: 991px){
    .seccion4 {
        display: flex;
        flex-direction: column;
        position: unset;
        align-items: center;
        padding-top: 3rem;
        div {
            position: unset;
            width: 90vw;
            margin-top: 1rem;
            margin-bottom: 0.625rem;
            padding-bottom: 0.5rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            h3{
                font-size: 1.8rem;
            }
    
            p {
                font-family: $OpenSans;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: unset;
            }
        }
    
        .imgCecilia {
            margin: auto;
            margin-top: 2rem;
            border-radius: 50%;
            height: 45vh;
        }
    }

}

@media (min-width:578px) and (max-width: 767px){
    .seccion4 {
        display: flex;
        flex-direction: column;
        position: unset;
        align-items: center;
        padding-top: 3rem;
        div {
            position: unset;
            width: 90vw;
            margin-top: 1rem;
            margin-bottom: 0.625rem;
            padding-bottom: 0.5rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            h3{
                font-size: 1.8rem;
            }
    
            p {
                font-family: $OpenSans;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: unset;
            }
        }
    
        .imgCecilia {
            margin: auto;
            margin-top: 2rem;
            border-radius: 50%;
            height: 45vh;
        }
    }
}

@media (max-width:577px){
    .seccion4 {
        display: flex;
        flex-direction: column;
        position: unset;
        align-items: center;
        padding-top: 3rem;
        div {
            position: unset;
            width: 90vw;
            margin-top: 1rem;
            margin-bottom: 0.625rem;
            padding-bottom: 0.5rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            h3{
                font-size: 1.8rem;
            }
    
            p {
                font-family: $OpenSans;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: unset;
            }
        }
    
        .imgCecilia {
            margin: auto;
            margin-top: 1rem;
            border-radius: 50%;
            height: 200px;
        }
    }
}