@import "generales";

.titledetail{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin-top: 0.6rem;
}
.explorar {
    color: $rojoMarca;
    display: inline-block;
}
.explorar span {
    color: black;
}
.disign span {
    color: black;
}
.disign {
    color: $amarilloMarca;
    display: inline-block;
}
.accion {
    color: $gris1Marca;
    display: inline-block;
}
.seccion1 {
    padding-bottom: 3rem;
}
.seccion1__titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    &  span {
        font-size: 2.5rem;
        font-weight: 700;
        background-color:  $amarilloMarca;
    }
} 

.titleBox {
    width: 27%;
    margin-left: 3rem;
}
.firstPartTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 3.8rem;
    display: inline;
}
.secondPartTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 3.8rem;
    display: inline;
}
/* .gradientText {
	font-size: 2.5rem;
    background: linear-gradient(to right, black 20%, $amarilloMarca 80%, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	background-clip: text;
	color: transparent;
	font-weight: 600;
} */

.seccion1__imgEmprendedores {
    width: 12rem;
    margin-top: 2.5rem;
    margin-right: 4rem;
}
.seccion1__imgProfesionales {
    width: 12rem;
    margin-top: 1rem;
}
.seccion1__boxImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.btnWapp {
    margin-top: 2.5rem;
    margin-left: 3rem;
    display: block;
    width: 4rem;
}   

@media (max-width:577px){
    .seccion1__titulo {
        font-size: 1.9rem;
        padding-left: 0.8rem;
        padding-right: 1.3rem;
        margin-top: 0rem;
        line-height: 3rem;
    } 
    .titledetail{
        font-size: 0.7rem;
        margin-top: 0.2rem;
        margin-left: 0.8rem;
    }
    .seccion1__imgEmprendedores {
        width: 11rem;
        margin-top: 1rem;
        margin-left: 0.8rem;
        margin-right: 0rem;
    
    }
    .seccion1__imgProfesionales {
        width: 11rem;
        margin-top: 1rem;
        margin-left: 0.8rem;
    }
    .btnWapp {
        margin-top: 1rem;
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 3.5rem;
    }   
}
@media (min-width:578px) and (max-width: 767px){
    .seccion1__boxIzquierdo {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .titledetail {
        align-self: start;
        padding-left: 4rem;
    }
    .seccion1__titulo {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.2rem;
        margin-top: 0.5rem;
        line-height: 3.3rem;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    } 
    .seccion1__boxImg {
        padding-left: 0;
        padding-right: 0;
    }
    .seccion1__img {
        width: 90%;
    }
    .seccion1__imgEmprendedores {
        width: 12rem;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .seccion1__imgProfesionales {
        width: 12rem;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0; 
    }
}

@media (min-width:768px) and (max-width: 991px){
    .titledetail {
        font-size: 0.75rem;
    }
    .seccion1__titulo {
        font-size: 2.3rem;
        margin-top: 0rem;
        line-height: 3.5rem;
        margin-bottom: 0rem;
        &  span {
            font-size: 2.3rem
        }
    } 
    .seccion1__boxImg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .seccion1__img {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width:992px) and (max-width: 1199px){
    .seccion1__boxImg {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .seccion1__titulo {
        margin-top: 1rem;
        line-height: 3.6rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    } 
}
