$rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$amarilloMarca:#ffbd4a;

.seccion2 {
    background-color:#ffbd4a;
    text-align: center;
    font-size: 1.3rem;
    padding: 7rem 11rem 5rem 11rem ;
    word-spacing: 0.3rem;
    letter-spacing: 0.05rem;
    line-height: 4rem;
    & span {
        font-size: 1.7rem;
        font-weight: 700;
    }
}