.explorar {
    color: #ff5c5c;
    display: inline-block;
}
.explorar span {
    color: black;
}
.disign span {
    color: black;
}
.disign {
    color: #ffbd4a;
    display: inline-block;
}
.accion {
    color: #a8a8a8;
    display: inline-block;
}
.seccion1__titulo {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 3.4rem;
    &  span {
        font-weight: 800;
    }
} 
.seccion1__imgEmprendedores {
    width: 14rem;
    margin-top: 2.5rem;
}
.seccion1__imgProfesionales {
    width: 14rem;
    margin-top: 1rem;
}
.seccion1__boxImg {
    position: relative;
}
.seccion1__img {
    width: 87%;
    z-index: -1;
}
.seccion1__boxLista {
    background-color: #a8a8a8;
    opacity: 0.65;
    width: 17rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    z-index: 1;
    position: absolute; right: 1.7rem; bottom: 0rem;
}
.seccion1__lista {
    text-decoration: dotted;
    margin-bottom: 0;
    padding-left: 1rem;
}
.seccion1__lista li {
    padding-left: 0.5rem;
    font-weight: 600;
    color: black;
}