/* $rojoMarca: #ff5c5c;
$gris1Marca:#a8a8a8;
$gris2Marca: #a6a6a6;
$amarilloMarca:#ffbd4a; */
@import "generales";

.seccion2 {
    background-color:#ffbd4a;
    text-align: center;
    font-size: 1.4rem;
    padding: 7rem 11rem 5rem 11rem ;
    word-spacing: 0.3rem;
    letter-spacing: 0.05rem;
    line-height: 4rem;
    & span {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width:576px){
    .seccion2 {
        padding: 2rem 1.2rem 1.7rem 1.2rem;
        line-height: 3rem;
        font-size: 1.1rem;
        /* text-align-last:left; */
        /* text-align:start; */
        & span {
            font-size: 1.1rem;
        }
    }
}
@media (min-width:577px) and (max-width: 767px){
    .seccion2 {
        padding: 3rem 3rem 2.5rem 3rem;
        line-height: 3.3rem;
        
    }
}
@media (min-width:768px) and (max-width: 991px){
    .seccion2 {
        padding: 3rem 4rem 2.5rem 4rem;
        line-height: 3.3rem;
    }
}
@media (min-width:992px) and (max-width: 1199px){
    .seccion2 {
        padding: 4rem 6rem 4rem 6rem;
        line-height: 3.3rem;
    }
}